<h3 class="heading1"><b><i class="fas fa-swatchbook"></i> &nbsp; Reader's Zone</b></h3>
<div class="section">
    <p class="lead heading2"> Welcome to the world of books</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fas fa-sign-in-alt"></i> Log in </a>
</div>
<div class="divider"></div>
<div class="section">
    <a class="heading2" href="signUp">Don't have an account ? <br> Create one:</a> <br><br>
    <button class="signup1"><a class="specialheading1" href="signUp"><b>Sign up</b></a></button>
</div>