<!--error folder is to contain hbs files that will display error messages on the client side. 404 is err code-->
<h1>ERROR 404: Resource not found</h1>
<p>The resource you're looking for is not found.</p>
<a href="/dashboard" class="btn">Go back to dashboard</a>