<!--error folder is to contain hbs files that will display error messages on the client side. 404 is err code-->
<h1 class="specialheading1">ERROR 500: Server not found</h1>
<p class="heading3">Cannot connect to Server. Check your connection.</p>
<a href="/dashboard" class="btn">Go back to dashboard</a>